:root{
    --gray: #494b56;
    --black: #000;
    --white: #fff;
}

*:focus{
    outline: none;
}
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Martel', serif;
    position: relative;
}

a{
    text-decoration: none;
}
ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
li{
    list-style: none;
}

img{
    height: auto;
    vertical-align: middle;
    display: inline-block;
}

/* container */
.container{
    padding-left: 20px!important;
    padding-right: 20px!important;
    margin-left: auto;
    margin-right: auto;
}

  /* Small */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
  /* Medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
  /* Large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

/* container */

/* global rools */

.upto{
    position: fixed;
    bottom: 0;
    right: -100%;
    margin: 15px;
    background-color: #ffffff12;
    backdrop-filter: blur(37px);
    padding: 16px 18px;
    font-size: 25px;
    border-radius: 50%;
    color: #bfbfbf;
    cursor: pointer;
    transition: .4s;
}

.upto:hover{
    color: #fff;
}

.upto.active{
    right: 0;
}

.headName{
    padding: 100px 100px 100px 150px;
    display: flex;
}

.headName h1{
    color: white;
    letter-spacing: 6px;
    font-size: 23px;
}
.headName .nmbco{
    color: #ffffffa7;
    margin-right: 18px;
}

@media(max-width: 991px){
    .headName{
        padding: 100px 20px 100px 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

/* global rools */

/* header */

.header {
    width: 100%;
    position: fixed;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 40px;
    transition: 0.4s;
}

.header.active{
    padding: 20px;
}

.header .ulheader{
    position: absolute;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 80px;
    background: #101e2921;
    backdrop-filter: blur(20px);
}

.header .ulheader .aheader{
    position: relative;
    margin-left: 45px;
    padding-top: 25px;
    padding-bottom: 40px;
    color: var(--white);
    letter-spacing: 3px;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
}

.header .ulheader .aheader:not(.active)::before{
    content: '';
    position: absolute;
    bottom: 0;
    scale: 0;
    width: 100%;
    height: 3px;
    background-color: var(--white);
    transition: .5s ease-in-out;
}

.header .ulheader .aheader:hover:before{
    scale: 1;
}

.header .ulheader .aheader.active{
    border-bottom: 3px solid var(--white);
    padding-bottom: 38px;
}

.hamburger{
    display: none;
    cursor: pointer;
}

.closehed{
    display: none;
}

@media(max-width: 991px) {
    .header .containerheader{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 40px;
        background: #101e2921;
        backdrop-filter: blur(20px);
    }
    .header{
        padding: 0!important;
        display: block;
    }
    .hamburger{
        display: block;
    }
    .hamburger img{
        width: 45px;
    }
    .hamburger .openhed.active{
        display: none;
    }
    .closehed{
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        padding: 55px;
        width: 150px;
        cursor: pointer;
    }
    .ulheader{
        position: fixed!important;
        left: -100%;
        top: 0;
        gap: 0;
        flex-direction: column;
        background-color: var(--bs-white);
        width: 100%;
        height: 100vh;
        text-align: left;
        transition: 0.3s;
    }
    .liheader:not(:last-child) {
        margin-bottom: 130px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .header .ulheader .aheader {
        margin-left: 0;
        padding-top: 0;
        padding-bottom: 10px!important;
    }
    .ulheader.active{
        left: 0px;
    }
}

/* landeg Page */

.landegPage{
    background: url(../assets/home/background-home-desktop.jpg) no-repeat;
    position: relative;
    background-size: cover;
    background-position: right;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.landegPage .containerLandg{
    padding-left: 100px;
    padding-top: 50px;
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
}


.landegPage .containerLandg span{
    color: #fffffff1;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 3px;
    margin: 0;
}

.landegPage .containerLandg h1{
    color: var(--white);
    font-size: 80px;
    margin: 30px 0;
    text-transform: uppercase;
    font-weight: 200;
    letter-spacing: 4px;
}

.landegPage .containerLandg p{
    color: #fffffff1;
    font-size: 14px;
    letter-spacing: 2px;
    line-height: 2;
}

.landegPage .partfolio{
    padding-left: 260px;
    padding-top: 100px;
}


.landegPage .partfolio a img{
    width: 230px;
    height: auto;
    background-color: #ffffff36;
    backdrop-filter: blur(7px);
    border-radius: 50%;
    cursor: pointer;
}

@media(max-width: 991px) {
    .landegPage{
        background: url(../assets/home/background-home-tablet.jpg) no-repeat;
        position: relative;
        background-size: cover;
        background-position: right;
        width: 100%;
        height: 110vh;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .landegPage .containerLandg {
        padding-left: 0;
        padding-top: 0;
        padding: 20px;
        display: grid;
        justify-self: center;
        align-items: center;
    }
    .landegPage .partfolio{
        padding-left: 0px;
        padding-top: 0px;
    }
    .landegPage .textland{
        padding-bottom: 50px;
    }

    .landegPage .partfolio a img{
        width: 200px;
    }
    
}

@media(max-width: 566px) {
    .landegPage{
        background: url(../assets/home/background-home-mobile.jpg) no-repeat;
        position: relative;
        background-size: cover;
        background-position: right;
        width: 100%;
        height: 110vh;
    }
    .landegPage .containerLandg h1{
        color: var(--white);
        font-size: 70px;
        margin: 20px 0;
        text-transform: uppercase;
    }
}

@media (max-height: 600px){
    .landegPage .containerLandg {
        position: absolute;
        bottom: 50px;
        padding-left: 0;
        padding: 20px;
        text-align: center;
    }
    .landegPage .containerLandg span{
        color: #fffffff1;
        text-transform: uppercase;
        font-size: 10px;
        letter-spacing: 3px;
        margin: 0;
    }
    
    .landegPage .containerLandg h1{
        color: var(--white);
        font-size: 40px;
        margin: 20px 0;
        text-transform: uppercase;
    }
    
    .landegPage .containerLandg p{
        color: #fffffff1;
        font-size: 10px;
        letter-spacing: 2px;
    }
}

/* landeg Page */

/* destination */

.destination{
    background: url(../assets/destination/background-destination-desktop.jpg) no-repeat;
    position: relative;
    background-size: cover;
    background-position: right;
    width: 100%;
    height: 100%;
    padding-bottom: 60px;
}

.destination .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.destination .contentright{
    text-align: left;
}

.destination .contentright .tabs{
    display: flex;
    justify-content: left;
    align-items: center;
    text-align: left;
}

.destination .contentright .tabs li{
    position: relative;
    padding-top: 30px;
    padding-bottom: 25px;
    color: var(--white);
    letter-spacing: 5px;
    cursor: pointer;
}

.destination .contentright .tabs li:not(:last-child){
    margin-right: 40px;
}

.destination .contentright .tabs li:not(.active)::before{
    content: '';
    position: absolute;
    bottom: 0;
    scale: 0;
    width: 100%;
    height: 3px;
    background-color: var(--white);
    transition: .5s ease-in-out;
}

.destination .contentright .tabs li:hover:before{
    scale: 1;
}

.litabs.active{
    border-bottom: 3px solid var(--white);
    padding-bottom: 25px;
}


.destination .contentright .tabscontent{
    position: relative;
}

.destination .contentright .tabscontent h1{
    color: var(--white);
    font-size: 80px;
    margin: 30px 0;
    font-weight: 100;
}

.destination .contentright .tabscontent p{
    color: #ffffffbd;
    font-size: 12px;
    letter-spacing: 2px;
    line-height: 2.3;
    margin: 30px 0;
}

.destination .contentright .tabscontent hr{
    position: absolute;
    background-color: #ffffff6e;
    height: 1px;
    width: 100%;
    border: none;
}

.destination .ulinfo{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px 0;
}

.destination .ulinfo{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 30px 0;
}

.destination .ulinfo .ul1{
    padding-right: 100px;
}

.destination .ulinfo ul .lipp {
    color: #ffffffbd;
    font-size: 12px;
    letter-spacing: 2px;
    line-height: 2.3;
}

.destination .ulinfo ul .lih1 {
    color: var(--white);
    font-size: 30px;
}

.destination .imgsdes{
    padding-right: 100px;
    cursor: pointer;
}

@media(max-width: 991px) {
    .destination{
        background: url(../assets/destination/background-destination-tablet.jpg) no-repeat;
        position: relative;
        background-size: cover;
        background-position: right;
        width: 100%;
        height: 100%;
    }
    .destination .container{
        display: grid;
        align-items: center;
        justify-content: center;
    }
    .destination .contentright{
        text-align: center;
    }

    .destination .imgsdes{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 40px;
        padding-right: 0px;
    }

    .destination .imgsdes img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    .destination .contentright .tabs{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .destination .ulinfo{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 30px 0;
    }
    .destination .contentright .tabs li:not(:last-child){
        position: relative;
        padding-top: 30px;
        padding-bottom: 25px;
        margin-right: 20px;
        color: var(--white);
        letter-spacing: 5px;
        cursor: pointer;
    }
    
}

@media(max-width: 566px) {
    .destination{
        background: url(../assets/destination/background-destination-mobile.jpg) no-repeat;
        position: relative;
        background-size: cover;
        background-position: right;
        width: 100%;
        height: 100%;
    }
}

/* destination */

/* crew */

.crew{
    background: url(../assets/crew/background-crew-desktop.jpg) no-repeat;
    position: relative;
    background-size: cover;
    background-position: right;
    width: 100%;
    height: 100%;
    padding-top: 60px;
}

.crew .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.crew .textcray{
    text-align: left;
}

.crew .textcray span{
    color: #ffffffbd;
    font-size: 40px;
    letter-spacing: 2px;
}

.crew .textcray h1{
    color: var(--white);
    font-size: 60px;
    margin: 30px 0;
}

.crew .textcray p{
    color: #ffffffbd;
    font-size: 12px;
    letter-spacing: 2px;
    line-height: 2.3;
    margin: 30px 0;
}

.crew .textcray .changpoint{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 60px;
}

.crew .textcray .changpoint .spancray{
    background-color: white;
    padding: 6px;
    border-radius: 50%;
    margin-right: 20px;
    margin-top: 40px;
    opacity: .5;
    cursor: pointer;
}

.crew .textcray .changpoint .spancray.active{
    background-color: white;
    opacity: 1;
}

@media(max-width: 991px) {
    .crew{
        background: url(../assets/crew/background-crew-tablet.jpg) no-repeat;
        position: relative;
        background-size: cover;
        background-position: right;
        width: 100%;
        height: 100%;
    }
    .crew .container{
        display: grid;
        align-items: center;
        justify-content: center;
    }
    .crew .textcray{
        text-align: center;
    }
    .crew .textcray .changpoint{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .imgcraydev img{
        max-width: 100%;
    }
    .imgcraydev{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media(max-width: 566px) {
    .crew{
        background: url(../assets/crew/background-crew-mobile.jpg) no-repeat;
        position: relative;
        background-size: cover;
        background-position: right;
        width: 100%;
        height: 100%;
    }
}
/* crew */

/* technology */

.technology{
    background: url(../assets/technology/background-technology-desktop.jpg) no-repeat;
    position: relative;
    background-size: cover;
    background-position: right;
    width: 100%;
    height: 100%;
    padding: 60px 0;
}

.technology .containertech{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
}

.technology .texttechnology{
    text-align: left;
}

.technology .texttechnology span{
    color: #ffffffbd;
    font-size: 12px;
    letter-spacing: 2px;
}

.technology .texttechnology h1{
    color: var(--white);
    font-size: 60px;
    margin: 30px 0;
}

.technology .texttechnology p{
    color: #ffffffbd;
    font-size: 12px;
    letter-spacing: 2px;
    line-height: 2.3;
    margin: 30px 0;
}

.technology .slidenum{
    display: grid;
    margin-right: 40px;
}

.technology .slidenum .spanslid{
    padding: 18px 24px;
    background: transparent;
    border: 1px solid #ffffffbd;
    color: var(--white);
    border-radius: 50%;
    margin-bottom: 30px;
    font-size: 25px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

.technology .slidenum .spanslid.active{
    padding: 20px;
    background: white;
    border: none;
    color: #000;
    padding: 18px 24px;
}

.noness{
    display: none!important;
}

.blockss{
    display: block;
}


@media(max-width: 991px) {
    .technology{
        background: url(../assets/technology/background-technology-tablet.jpg) no-repeat;
        position: relative;
        background-size: cover;
        background-position: right;
        width: 100%;
        height: 100%;
    }
    .technology .containertech{
        display: grid;
        align-items: center;
        justify-content: center;
    }

    .technology .slidenum .spanslid:not(:last-child){
        margin-right: 50px;
        padding: 18px 24px;
    }
    .noness{
        display: flex!important;
        justify-content: center;
        align-items: center;
    }

    .blockss{
        display: none!important;
    }

    .technology .slidenum{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 0;
    }

    .technology .texttechnology{
        text-align: center;
    }

    .imgtech{
        width: 100%;
    }
}

@media(max-width: 566px) {
    .technology{
        background: url(../assets/technology/background-technology-mobile.jpg) no-repeat;
        position: relative;
        background-size: cover;
        background-position: right;
        width: 100%;
        height: 100%;
    }
}
/* technology */
